*{
    padding: 0px;
    margin: 0px;
    color: #555;
  }
  
body{
font-family: 'poppins', sans-serif;
}
.main-page{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(246, 244, 244);
}
/* ************* MODAL BOX **************** */
.modal-container{
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: 100;
    display: none;
    position: relative;
}
.modal-container .modal-dark-theme{
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    display: table;
    background-color: rgba(0, 0, 0, 0.76);
}
.modal-container .modal-inner{
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}
.modal-content-small{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
}
.modal-inner button.modal-close{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.modal-inner button.modal-close:focus{
    border: none;
    outline: none;
}
.modal-container textarea:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid   rgb(248, 179, 50);
}
@media only screen and (max-width: 1125px){
    .modal-content-small{
        width: 60%;
    }
}
@media only screen and (max-width: 992px){
    .modal-content-small{
        width: 80%;
    }
}
@media only screen and (max-width: 767px){
    .modal-content-small{
        width: 90%;
    }
}
@media only screen and (max-width: 567px){
    .modal-content-small{
        width: 100%;
    }
}
/* ********* MODAL PRELOADER *************** */
.little-preloader-container{
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: 100;
    display: none;
    position: relative;
}
.little-dark-theme{
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    display: table;
    background-color: rgba(0, 0, 0, 0.76);
}
.preloader-back-light{
    padding: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.little-p-content{
    width: 150px;
    height: 80px;
    border-radius: 3px;
    margin: 0 auto;
    background-color: #fff;
}
.little-p-content .little-loader{
    top: 25px;
    left: 60px;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    border: 3px solid   rgb(248, 179, 50);
    border-right: 3px solid transparent;
    -webkit-animation: littl-spin 0.4s linear infinite; 
    animation: littl-spin 0.4s linear infinite; 
}
@keyframes littl-spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* ************** PAGE ALERT BOTTOM ******** */
.page-aliert-bottom{
    z-index: 100;
    width: 100%;
    height: 0px;
    position: relative;
}
.page-aliert-bottom .page-alert-content{
    width: 300px;
    color: #fff;
    font-size: 12px;
    right:0px;
    bottom: -100px;
    z-index: 100;
    text-align: center;
    position: fixed;
    padding: 10px 0px;
    border-radius: 2px;
    background-color:   rgb(248, 179, 50);
    transition: all 0.3s ease;
}
@media only screen and (max-width: 567px){
    .page-aliert-bottom .page-alert-content{
        width: 100%;
        bottom: -100px;
    }
}
/* ======================================== */
/*            COMMON                        */
/* ======================================== */
.modal-header-x{
    position: relative;
}
.modal-header-x button{
    top: 5px;
    right: 10px;
    position: absolute;
    background-color: transparent;
}
.modal-header-x button:focus{
    outline: none;
    box-shadow: none;
}
.button{
    color: #fff;
    transition: all 0.3s ease;
    background-color:    rgb(248, 179, 50);
}
.button:hover{
    color: #fff;
    background-color:  rgb(248, 161, 0);
}
.form-alert{
    height: 16px;
    font-size: 11px;
}
.main_form_alert{
    font-size: 11px;
}
/* *********** ERROR ALERT ********** */
.error-alert{
    width: 100%;
}
.error-alert-content{
    width: 70%;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    border-radius: 4px;
    background-color:   rgb(255, 214, 126);
    border-left: 7px solid   rgb(248, 179, 50);
}
@media only screen and (max-width: 767px){
    .error-alert-content{
        width: 100%;
    }  
}
/* ======================================== */
/*  NAVIGATION                             */
/* ====================================== */
.navigation{
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 0px 0px rgba(177, 175, 175, 0.3);
}
.inner-navigation{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    top: -3px;
    position: relative;
}
.img-right{
    top: 3px;
    position: relative;
}
.nav-left i{
    top: 5px;
    display: none;
    font-size: 25px;
    position: relative;
}
img.nav-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
img.nav-profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
span.nav-app-name{
    top: 4px;
    color: #333;
    font-weight: 600;
    font-size: 25px;
    position: relative;
}
.nav-right{
    text-align: right;
}
.nav-right i.fa-bars{
    display: none;
}
.nav-right span{
    margin-left: 10px;
}
.nav-right i{
    top: 5px;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
}
.navigation-search{
    margin-left: 200px;
}
.navigation-search .nav-form{
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
}
.navigation-search input{
    width: 93%;
    padding-right: 10px;
}
.navigation-search .search-btn, .navigation-search .nav-search{
    border: none;
    background-color: transparent;
}
.navigation-search button{
    cursor: pointer;
    position: relative;
}
.navigation-search button:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
@media only screen and (max-width: 1125px){
    .nav-left i{
        display: inline-block;
    }
    .nav-left img{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 992px){
    .navigation-search{
        margin-left: 50px;
    }
    .navigation-search .nav-form{
        width: 300px;
    }
    .navigation-search input{
        width: 90%;
    }
}
@media only screen and (max-width: 767px){
    .navigation-search{
        display: none;
    }
    .nav-left img{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 398px){
    .nav-left, .img-right{
        top: 0px;
    }
    span.nav-app-name{
        font-size: 20px;
    }
    .nav-left img{
        margin-left: 0px;
    }
    .nav-left i{
        display: none;
    }
    .nav-right img, .nav-right .fa-heart{
        display: none;
    }
    .nav-right i.fa-bars{
        top: 8px;
        font-size: 25px;
        display: inline-block;
        position: relative;
    }
}




/* ===================================== */
/*        SIDE NAVIGATION               */
/* =================================== */
#side-navigation-container{
    max-width: 20%;
}
.side-navigation{
    top: 0px;
    width: 100%;
    height: 100vh;
    border: 5px;
    padding-top: 20px;
    overflow-y: auto;
    /* position: absolute; */
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 5px 0px 0px 0px rgba(216, 216, 216, 0.3);
}
.side-navigation.activate{
    width: 247px;
    position: fixed;
    height: 100vh;
    border-top: 1px solid transparent;
}
ul.parent-ul li a{
    display: block;
    font-weight: 500;
    padding: 10px 10px;
    transition: all 0.2s ease;
}
ul.parent-ul li a:hover{
    color: #fff;
    background-color:   rgb(248, 179, 50);
}

ul.parent-ul li a i{
    margin-right: 7px;
    font-size: 18px;
}
ul.parent-ul li a:hover i{
    color: #fff;
}
ul.parent-ul li .angle{
    top: 3px;
    position: relative;
}
ul.child-drop-down{
    padding-left: 10px;
    display: none;
}

@media only screen and (max-width: 1125px){
    #page-expand{
        padding: 0px;
        margin: 0px;
    }
    #side-navigation-container{
        /* display: none; */
       padding: 0px;
       margin: 0px;
       height: 0px;
       min-width: 100%;
       position: relative;
    }
    .side-navigation{
        top: 66px;
        left: -330px;
        z-index: 20;
        width: 300px;
        margin-left: 15px;
        position: fixed;
        overflow-y: auto;
        transition: all 0.3s ease;
    }
}
@media only screen and (max-width: 398px){
    .side-navigation{
        top: 61px;
        width: 250px;
    }
}

/* ========================================= */
/*        HOME PAGE                          */
/* ======================================== */
.parent-container{
    padding: 0px 10px;
}
.parent-container .expand{
    padding: 0px 5px;
}
.course-img-body{
    margin-bottom: 30px;
}
.course-img-body img{
    border-radius: 3px;
    /* width: 100%; */
}
.course-img-body img:hover{
    opacity: 0.9;
}
.course-img-body ul{
    padding-top: 5px;
}
.course-img-body ul li h4{
    font-size: 14px;
    margin: 0px 0px 2px 0px;
    line-height: 16px;
    
}
.course-img-body ul li{
    line-height: 12px;
}
.course-img-body ul li p{
    font-size: 12px;
    margin: 0px;
}
.course-img-body ul li i{
    font-size: 10px;
}
ul li span.views-course{
    font-size: 10px;
}
.video_image_container{
    position: relative;
}
.video_image_container .duration{
    color: #fff;
    right: 5px;
    bottom: 5px;
    font-size: 11px;
    position: absolute;
    border-radius: 2px;
    padding: 0px 10px;
    background-color:   rgb(248, 179, 50);
}
@media only screen and (max-width: 1125px){
    .home-body-content{
        padding: 0px 10px;
    }
}
@media only screen and (max-width: 567px){
    .parent-container{
        padding: 20px;
        border-radius: 4px;
        background-color: #fff;
    }
    .course-img-body{
        display: flex;
    }
    .video_image_container{
        width: 180px;
        margin-right: 7px;
    }
    
    .course-img-body ul{
        padding: 5px;
        width: 80%;
        background-color: rgb(253, 252, 252);
    }
    .video_image_container .duration{
        top: 3px;
        left: 3px;
        right: inherit;
        bottom: inherit;
        font-size: 8px;
    }
}
@media only screen and (max-width: 398px){
    .video_image_container{
        width: 200px;
        /* height: 70px; */
    }
    .course-img-body ul li h4{
        font-size: 11px;
    }
    .course-img-body ul li p{
        font-size: 9px;
    }
    
}
/* ========================================== */
/*        COURSE DETAIL                      */
/* ======================================== */
.body-content{
    width: 100%;
    margin-top: 30px;
}
.body-expand{
    padding: 0px;
    margin: 0px;
    min-width: 78%;
}
.single-content{
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}
.single-content h4{
    font-size: 20px;
}
.video-x{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.video-x .video-frame{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(233, 233, 233);
}
.video-x .video-frame:focus{
    outline: none;
}
.video-x .video-frame::poster{
    border-radius: 4px;
}
.course-div{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.v-duration{
    color: #fff;
    right: 10px;
    bottom: 20px;
    font-size: 14px;
    position: absolute;
    padding: 3px 20px;
    border-radius: 4px;
    background-color:   rgb(248, 179, 50);
}

ul.ul-share{
    margin-top: 10px;
}
ul.ul-share li{
    display: inline-block;
}
ul.ul-share li a{
    display: block;
    padding: 5px 20px;
    border-radius: 4px;
    border: 1px solid   rgb(248, 179, 50);
}
ul.ul-share li a i, ul.ul-share li a span{
    color:   rgb(248, 179, 50);
    font-size: 13px;
}
ul.ul-share li span.likes{
    font-size: 11px;
}
ul.ul-share li.other-likes{
    font-size: 11px;
}
ul.ul-share li.other-likes span{
    color:   rgb(248, 179, 50);
}
#social_share_container{
    display: none;
}
ul.course-download li{
    margin: 10px 0px;
}
ul.course-download li.download a{
    color: #fff;
    padding: 7px 20px;
    border-radius: 3px;
    background-color: rgb(20, 197, 20);
}
ul.course-download li.download a i{
    color: #fff;
}
@media only screen and (max-width: 1125px){
    .body-expand{
        min-width: 100%;
    }
}
@media only screen and (max-width: 767px){
    .video-x .video-control{
        top: 35%;
    }
}
@media only screen and (max-width: 567px){
    ul.ul-share li a{
        padding: 3px 10px;
    }
    .title h4{
        font-size: 19px;
    }
    .v-duration{
        right: 5px;
        bottom: 12px;
        font-size: 10px;
    }
}

/* ********** COURSE PREVIEW ************* */
.course-preview{
    width: 100%;
}
ul.course-preview li h4{
    font-size: 15px;
}
@media only screen and (max-width: 398px){
    ul.course-preview li h4{
        font-size: 13px;
    }
}
/* ********** RELATED COURSES *********** */
.related-course .title{
    margin-bottom: 20px;
}
.related-course .title h4{
    margin: 0px;
    color: #fff;
    border-radius: 4px;
    padding: 8px 0px;
    background-color:   rgb(248, 179, 50);
}
ul.ul-related{
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(246, 245, 245);
}
.course-img{
    position: relative;
}
.course-img .duration{
    color: #fff;
    top: 47px;
    right: 5px;
    font-size: 10px;
    border-radius: 5px;
    position: absolute;
    padding: 0px 10px;
    background-color:   rgb(248, 179, 50);
}
.course-item{
    display: flex;
    margin-bottom: 20px;
}
.course-item img{
    width: 125px;
    height: 70px;
    cursor: pointer;
    border-radius: 4px;
}
.course-item img:hover{
    opacity: 0.9;
}
.course-item ul{
    margin: 0px 0px 0px 5px;
}
.course-item ul li{
    font-size: 12px;
}
.course-item ul li h4{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
ul li.c-font{
    font-size: 11px;
}
ul.ul-related li i{
 font-size: 10px;
}
@media only screen and (max-width: 1125px){
    .related-error{
        width: 50%;
        margin: 0 auto;
    }
    .course-img{
        width: 50%;
    }
    .course-img img{
        width: 100%;
        height: 100%;
    }
    .course-img .duration{
        top: inherit;
        bottom: 2px;
        padding: 0px 10px;
    }
}
@media only screen and (max-width: 992px){
    .related-course{
       padding: 50px 0px;
    }
    .course-img{
        width: 50%;
    }
    ul.ul-related{
        width: 50%;
    }
    .related-error{
        width: 70%;
    }
}
@media only screen and (max-width: 767px){
    ul.ul-related{
        width: 80%;
    }
    .related-error{
        width: 90%;
    }
}
@media only screen and (max-width: 567px){
    .course-img{
        width: 50%;
    }
    ul.ul-related{
        width: 50%;
    }
    .related-error{
        width: 100%;
    }
}

/* *******COURSE DESCRIPTION*********** */
.course-description{
    margin: 30px 0px;
}
ul.w-y-learn{
    padding-left: 15px;
}
ul.w-y-learn li{
    display: flex;
    margin: 3px 0px;
    padding: 5px 0px;
}
ul.w-y-learn li i{
    top: 3px;
    font-size: 18px;
    color:   rgb(248, 179, 50);
    margin-right: 10px;
    position: relative;
 }
 .course-description p{
    font-size: 14px;
}
 @media only screen and (max-width: 567px){
    .course-description p{
        font-size: 13px;
    }
}
@media only screen and (max-width: 398px){
    .course-description{
        padding: 0px;
    }
    ul.w-y-learn{
        padding-left: 5px;
    }
}

/*************** COURSE AUTHOR ************* */
.course-author{
    padding: 70px 0px;
    margin-bottom: 30px;
    border-top: 1px solid #ccc;
}
.autho-info{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.autho-info img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.course-author ul li p{
    font-size: 14px;
}
@media only screen and (max-width: 992px){
    .autho-info{
        width: 80%;
    }
}
@media only screen and (max-width: 567px){
    .autho-info{
        width: 100%;
    }
    .autho-info img{
        width: 100px;
        height: 100px;
    }
    .course-author ul li p{
        font-size: 13px;
    }
}
@media only screen and (max-width: 398px){
    .autho-info img{
        width: 80px;
        height: 80px;
    }
}

/*************** STUDENT REVIEWS ************* */
.start-review .title h4{
    border-bottom: 1px solid #ccc;
}
.review-comments{
    display: flex;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}
.review-comments img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.review-comments ul{
    width: 100%;
    margin: 0px 0px 0px 10px;
}
.review-comments ul li .review-time{
    font-size: 12px;
    color: rgb(116, 116, 116);
}
.review-comments ul li i.fa-star{
    font-size: 12px;
}
.review-edit{
    text-align: right;
}
.review-edit a{
    padding: 2px 15px;
    border-radius: 3px;
    transition: background-color 0.4s ease;
    color:   rgb(248, 179, 50);
}
.review-edit a:hover{
    color: #fff;
    background-color:   rgb(248, 179, 50);
}
.review-comments ul li p{
    font-size: 14px;
}

@media only screen and (max-width: 1125px){
    .review-comments ul{
        width: 100%;
    }
}
@media only screen and (max-width: 992px){
    .review-comments ul{
        width: 100%;
    }
    .review-comments img{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width: 767px){
    .start-review h4{
        border-bottom: 1px solid #ccc;
    }
    .review-comments{
        border-bottom: 1px solid transparent;
    }
    .review-comments ul li p{
        font-size: 13px;
    }
    .review-comments ul{
        border-radius: 3px;
        padding: 5px;
       background-color: rgb(248, 248, 248);
    }
}
/* **************** FORM REVIEW ************ */
.review-form{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0px;
}
.review-form textarea:focus{
   outline: none;
   box-shadow: none;
   border: 1px solid   rgb(248, 179, 50);
}
@media only screen and (max-width: 767px){
    .review-form{
        width: 100%;
    }
}

/* ****************MORE COURSE************** */
.more-course{
    padding: 30px 0px;
}
.more-course .title{
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.more-course-single{
    height: 225px;
    margin-bottom: 10px;
}
.more-course-single img{
    border-radius: 3px;
}
.more-course-single img:hover{
    opacity: 0.9;
}
.more-course-single ul li{
    line-height: 14px;
}
.more-course-single ul li h4{
    font-size: 16px;
    margin: 5px 0px 0px 0px;
}
.more-course-single ul li p{
    font-size: 12px;
    margin: 0px;
}
.more-course-single ul li i{
    font-size: 10px;
}
@media only screen and (max-width: 1125px){
    .more-course-single{
        height: 250px;
    }
}
@media only screen and (max-width: 992px){
    .more-course-single{
        height: 280px;
    }
}
@media only screen and (max-width: 767px){
    .more-course-single{
        height: 250px;
    }
}
@media only screen and (max-width: 567px){
    .more-course .title h4{
        margin: 0px;
        color: #fff;
        border-radius: 4px;
        padding: 8px 0px;
        text-align: center;
        background-color:   rgb(248, 179, 50);
    }
    .more-course .title{
        border-bottom: none;
    }
    .more-course-single{
        height: 220px;
    }
    .more-course-single ul li h4{
        font-size: 14px;
    }
}
@media only screen and (max-width: 567px){
    .more-course-body{
        padding: 0px 10px;
    }
    .more-course-body .col-6{
        padding: 0px 5px;
    }
}




/* ********* FOOTER *********** */
.bottom-footer{
    margin-top: 100px;
    padding: 60px 0px 10px 0px;
    background-color: rgb(246, 246, 246);
}
.bottom-footer .rights{
    font-size: 13px;
    text-align: center;

}
ul.ul-footer{
    text-align: center;
}
ul.ul-footer li{
    margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
}
.bottom-footer .rights{
    font-size: 10px;

}
ul.ul-social-media{
    width: 100%;
    text-align: center;
}
ul.ul-social-media li{
    display: inline-block;
}
ul.ul-social-media li a{
   margin-left: 10px;
   padding: 1px 5px;
   border-radius: 4px;
   border: 1px solid #ccc;
}
@media only screen and (max-width: 567px){
    ul.ul-footer li{
        font-size: 9px;
    }
    .bottom-footer .rights{
        font-size: 9px;
    }
}



/* ************* SIDE LOGIN **************** */

.side-login-form{
    margin: 50px 0px;
}
.socialBtn{
    margin-bottom: 10px;
}
.side-login-form .login-social-facebook, .side-login-form .login-social-google{
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
}
.side-login-form .login-social-facebook{
    background-color: #3b5998;
}
.side-login-form .login-social-google{
    background-color: rgb(233, 50, 50);
}
.socialBtn-innner{
    width: 100px;
    padding: 2px 2px 4px 2px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #ccc;
}
p.login-detail{
    font-size: 11px;
}
.login-social-facebook i, .login-social-google i{
    top: -10px;
    left: -3px;
    color: #fff;
    font-size: 10px;
    position: relative;
}
.login-social-facebook i{
    background-color: #3b5998;
}
.login-social-facebook i{
    left: -2px;
}
label.remember-me{
    top: -2px;
    font-size: 11px;
    position: relative;
}
.forgortPassword{
    font-size: 11px;
}
@media only screen and (max-width: 1125px){
    .side-login-form{
        width: 70%;
        margin: 0 auto;
        padding: 50px 0px;
    }
}
@media only screen and (max-width: 767px){
    .side-login-form{
        width: 90%;
    }
}
@media only screen and (max-width: 567px){
    .side-login-form{
        width: 100%;
    }
}